# 此 .gitignore 文件应放置在 Unity 项目目录的根目录下
#
# 从 https://github.com/github/gitignore/blob/master/Unity.gitignore 获取最新信息
#
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/


# 仅当相应资产也被忽略时才应忽略资产元数据
!/[Aa]ssets/**/*.meta

# 如果您想忽略资产商店工具插件，请取消注释此行
# /[Aa]ssets/AssetStoreTools*

# 自动生成的 Jetbrains Rider 插件
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio 缓存目录
.vs/

# Gradle 缓存目录
.gradle/

# 自动生成的 VS/MD/Consulo 解决方案和项目文件
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D 生成元文件
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D 生成的崩溃报告文件
sysinfo.txt

# 构建
*.apk

!TutorialContent/*.unitypackage

# Crashlytics 生成的文件
crashlytics-build.properties

# 自定义
Assets/SceneDependencyCache*
Assets/NetCodeGenerated*
.idea/
.DS_Store
RiderScriptEditorPersistedState.asset